POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_SCHEMA=

PG_PORT=5432

SQS_REQUEST_QUEUE=https://sqs.us-east-1.amazonaws.com/0000000/laon_request_queue
SQS_AUTOMATIC_QUEUE=https://sqs.us-east-1.amazonaws.com/0000000/loan_automatic_queue
SQS_REPORT_QUEUE=https://sqs.us-east-1.amazonaws.com/0000000/loan_reports_queue